<!DOCTYPE html>

{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'vent/css/bootstrap.min.css' %}">


<link href="../../../static/vent/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%   static 'vent/css/style_css.css' %}">


</head>
<body>
{%  include 'meuble/partiel/header.html'%}

{% block content %}

<!--#header debut-->



{% endblock %}


<script src="{% static 'vent/js/bootstrap.bundle.js' %}"></script>

<!--header fin-->


</body>
</html>
